/* styles.css */
body,
html {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea,
input[type="number"],
button {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: #0056b3;
  color: white;
  border: none;
}

#teamOutput {
  margin-top: 20px;
  text-align: left;
}
/* Additional styles in styles.css */
#nameList {
  list-style: none;
  padding: 0;
}

#nameList li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#nameInput {
  padding: 1rem;
  font-size: 1rem;
  width: 20rem;
}
button {
  width: 10rem;
}
.removeBtn {
  width: 2rem;
  background-color: transparent;
  border: solid 1px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.clearAll{
  background-color: red;
}